<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://github.com/CoderTonyChan/ipa.store/releases/download/ipa.store/2609_5.0.2_xyz.yyyue.esign.net_signed.ipa</string>
                    <!-- <string>https://github.com/CoderTonyChan/games-state/releases/download/1/puffies._1.21_com.lykkestudios.puffies_signed.ipa</string> -->
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>xyz.yyyue.esign.net</string>
                <key>bundle-version</key>
                <string>5.0.2</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>电子签App</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
